{% extends 'base-page.html' %}

{% block title %}РЕГИСТРАЦИЯ{% endblock %}

{% block container %}
    <div class="layout_padding contact_section">
    	<div class="container-fluid ram">
    		<div class="row">
                  <div class="container">
                      <h1 class="new_text"><strong>РЕГИСТРАЦИЯ</strong></h1>
                  </div>
    			<div class="col-md-6">
    				<div class="email_box">
                    <div class="input_main">
                       <div class="container">
                          <form action="{% url 'register' %}" method="post">
                              {% csrf_token %}
                              {% for field in user_form %}
                                <div class="form-group">
                                    <span style="color: red">{{ field.errors }}</span>
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                               {% endfor %}
                                 <div class="send_btn">
                                        <button class="main_bt">Send</button>
                                    </div>
                          </form>
                       </div>
                    </div>
    		</div>
    			</div>
    		</div>
    	</div>
    </div>
{% endblock %}